.AboutmeText{
    color: darkslategray !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
    text-align: justify;
}


.timeline_dot_header2 {
    color: black !important;
    background-color: white !important; /* White inside */
    border: 2px solid rgba(41, 5, 245, 0.966) !important; /* Yellow outline */
    padding: 5px;
    padding-top: 8px;
    
}



.TS2 .MuiTimelineConnector-root {
    min-height: 30px !important;
    display: flex !important;
  }

.MuiTimelineItem-missingOppositeContent:before {
    display: none !important;
}

.timeline_dot_header2 > .MuiSvgIcon-root {
    color: darkslategray;
    font-size: 20px;
}


.TS2{
    margin-left: 11px !important;
}


.TS2 .timeline_title{
    font-size: 18px !important;
    font-weight :500 !important ;
}

.TS2 .timeline_company{
    font-size: 15px bold !important;
    font-weight :300 !important ;
    color: blue;
}

.TS2 .timeline_date{
    color: darkslategray;
}

.TS2 .timeline_description{
    color: gray;
    font-size: small !important;
    margin-top :6px !important ;
}



.skills{
    border-radius: 8px !important;
    padding: 20px !important;
    box-shadow: 0px 0px 48px 0px rgba(4,6,4,0.08) !important;
    min-height: 186px !important;
    height: 106% !important;
    margin: 10px !important;
}


.skills .skills_title{
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
}

.skills .skill_description{
    display: flex !important;
    align-items: center !important;

}


.skills .skill_description .TimelineDot{
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px !important;

}


.graybg{
    background-color: #fafafa !important;
}





.info_social >a> .MuiSvgIcon-root{
font-size: 20px !important;
margin-right: 10px;
color: black;


}